.employee-page {
    height: 100%;
    background: #fafafa 0% 0% no-repeat padding-box;
}

.dashboard {
    min-height: calc(100% - 77px);
    min-width: calc(100% - 300px);
    position: fixed;
    top: 77px;
    left: 300px;
    padding: 20px;
}

.create-employee-form {
    background: #fdfdfd 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9d9d9d29;
    border-radius: 10px;
    padding: 34px;
    margin-top: 22px;
}

.create-employee-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.create-employee-form > * {
    flex: 0 0 30%;
    margin-bottom: 32px;
}

.create-employee-address-inputs {
    flex: 0 0 66.67%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 250px;
    max-width: 66.67%;
    column-gap: 5%;
}

.create-employee-address-inputs > * {
    width: 45.45%;
}

.create-employee-form-buttons > * {
    width: 150px;
    height: 35px;
    margin-right: 16px;
    margin-top: 8px;
}
