.btn {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
}

.filled {
    background: #03aeee 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #b0e6fa;
    border-radius: 3px;
    border: 0px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.empty {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #C9C9C929;
    border: 1px solid #8A8C8F;
    border-radius: 3px;
    letter-spacing: 0px;
    color: #8A8C8F;
}
