.employee-page {
  height: 100%;
  background: #fafafa 0% 0% no-repeat padding-box;
}

.dashboard {
  min-height: calc(100% - 77px);
  min-width: calc(100% - 300px);
  position: fixed;
  top: 77px;
  left: 300px;
  padding: 20px;
}

.employee-details {
  width: 80%;
  height: 232px;
  background: #fdfdfd 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #9d9d9d29;
  border-radius: 10px;
  margin-top: 26px;
  padding: 34px;
  display: flex;
  flex-wrap: wrap;
}
