.subheader-btn {
    border: 0px;
    background: #eaf9ff 0% 0% no-repeat padding-box;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-height: 58px;
    font-size: 18px;
    text-align: center;
}

.subheader-btn-icon {
    color: white;
    background: #03aeee;
    border-radius: 50%;
    margin-right: 5px;
    width: 58px;
    height: 58px;
    padding-top: 18px;
    padding-right: 4px;
}

.subheader-btn-svg {
    fill: white;
    height: 22px;
    width: 22px;
}
